.bg1 {
  /* The image used */
  background-image: url("img1.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box1{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.p1{
  background-color: #ADD8E6;
  color: black;
  padding: 18px;
  font-size: 12px;
  letter-spacing: 2px;
}
.box2{
  color: black;
  background-color: #ADD8E6;
  padding: 50px 80px;
  text-align: justify;
  letter-spacing: 10px;
 
 a, .box2 {
    transition: all 0.3s ease;
   

	
}

}
.bg2 {
 /* The image used */
    background-image: url("img2.jpg");
  
    /* Set a specific height */
    min-height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }